<!Doctype html>
<html lang="ko">

{% include 'head.html'%}


<body>
    <div>
        <div>
            현재 아이피: {{ user_ip }}
        </div>
        <div>
            서버에 등록된 아이피: {{ server_ip }}
        </div>
        <div>
            <form action="/addip" method="post">
                등록하시겠습니까?
                <button type="submit" class="button">
                    등록
                </button>
            </form>
        </div>
        <div>
            <form action="/delip" method="post">
                <input class="input" placeholder="index입력"  name="index">를 삭제하시겠습니까?
                <button type="submit" class="button">
                    삭제
                </button>
            </form>
        </div>
    </div>
</body>

</html>